.textArea{
  font-weight: normal;
  font-size: 12px;
  background: #FFFFFF;
  border-radius: 10px;
  width: 94%;
  font-family: '__Montserrat_703af4', '__Montserrat_Fallback_703af4';


  color: #0E1839;
  padding: 10px 15px;
  border: 1px solid #9faab7;
  resize: none;
  &::placeholder{
    color: #BAC0CE  ;
  }
}

@media screen and (max-width: 1200px){
  .textArea{
    padding: 9px 14px;
  }
}

@media screen and (max-width: 1024px){
  .textArea{
    padding: 8px 13px;
  }
}

@media screen and (max-width: 768px) {
  .textArea{
    padding: 7px 12px;
  }
}

@media screen and (max-width: 645px) {
  .textArea{
    padding: 6px 11px;
    font-size: 13px;
  }
}

@media screen and (max-width: 576px){
  .textArea{
    padding: 5px 10px;
  }
}

@media screen and (max-width: 425px){
}
