.swiper {
  overflow-y: visible !important;
  position: relative;
  padding-bottom: 80px  !important;
  //   box-sizing: border-box;
  //   height: 100%;
}
.slider__wrapper {
  position: relative;
  margin-bottom: 53px;
}
.slider__arrow {
  position: absolute;

  transform: translateY(-50%);
  z-index: 2;

  @media (max-width: $large) {
    position: relative;
  }
  @media (min-width: $large) {
    top: 50%;
  }
}
.slider__arrows--block {
  @media (max-width: $large) {
    display: flex;
    gap: 20px;
  }
  & .swiper-button-disabled {
    @media (min-width: $large) {
      display: none;
    }
  }
  & svg {
    & path {
    //   stroke: ;
    }
  }
}
.slider__scrollbar {
  position: absolute !important;
  bottom: -50px !important;
  height: 3px;
  width: 98%;
  background: #ededed;
  border-radius: 8px;
  @media (max-width: $large) {
    display: none;
  }
}
.swiper-scrollbar-drag {
//   background:  !important;
}

.arrow--next,
.arrow--prev {
  background:rgba(219, 177, 127, 0.60);
  box-shadow: $shadow;
  width: 57px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
	width:24px;
	height: 24px;
    & path {
      transition: $transition;
	  stroke:white;
    }
  }
}
.arrow--next {
    right: -25px;
  
}

.arrow--prev {
    left: -25px;
  
}
