.login{
	font-family: '__Montserrat_703af4', '__Montserrat_Fallback_703af4';
width:100%;
display: flex;
align-items: center;
justify-content: center;
	&__wrapper{
		
	// max-width: 504px;
	width:100%;
	height: 100vh;
	display: flex;
	width:504px;
	justify-content: center;
	flex-direction: column;
		
		h1{
			color:$primary;
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}
}