.pageLoader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .6s ease;
  div{
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    opacity: 0.6;
    animation: spin 1s linear infinite;
  }
  div:nth-child(1){
    height: 60px;
    width: 60px;
    border-color: #C28456;
  }
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
